<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <package android:name="com.instagram.android" />
    </queries>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_yello_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_yello_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YELLO"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.YELLO.Splash"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kakaolink"
                    android:scheme="kakao${NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.auth.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.auth.SocialSyncActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.onboarding.activity.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.yello.vote.VoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.profile.manage.ProfileManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.profile.manage.ProfileQuitTwoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.profile.manage.ProfileQuitOneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.myyello.read.MyYelloReadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.pay.PayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.pay.PayEndActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.recommend.search.RecommendSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name=".config.YelloMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>
</manifest>